* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
#hero {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

#hero-content {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #6f14f1, #aa6ef37a);
  position: relative;
}

#logo img {
  height: 35px;
}

.navbar {
  width: 100%;
  min-height: 70px;
  padding: 0.5vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 18px;
  height: 1.7px;
  margin: 5px 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1vw 2.5vw;

  max-width: 85vw;

  margin-left: 15vw;
  transition: all linear 0.5s;
}
.nav-menu li {
  list-style: none;
  display: inline-block;
}
.nav-menu li a {
  color: #fff;
  margin-right: 1.2vw;
  font-weight: 600;
  font-size: 1.2vw;
}

#pre-register-btn {
  padding: 1vw 2vw;
  border: 1px solid #fff;
  background-color: #6f14f1;
  border-radius: 30px;
  color: #fff;
  transition: all 0.2s;
  font-weight: 600;
  margin-right: 5vw;
}
#pre-register-btn:hover {
  background-color: #011a35;
}
#hero-main {
  width: 50%;
  height: calc(100% - 80px);
  margin-left: 2vw;
}

#hero-main h1 {
  text-align: left;
  font-size: 4.9vw;
  line-height: 6.5vw;
  color: #fff;
}

#hero-main h1 span {
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: left;
  display: inline-block;
  font-size: 4.2vw;
  padding: 0 1vw;
  margin-bottom: 1vw;
}

#hero-main h1 #pk {
  background-color: #fde97b;
  color: #6f14f1;
  border: none;
  display: inline-block;
  padding: 0.5vw;
}
#hero-main p {
  font-size: 1.3vw;
  line-height: 2vw;
  color: #fff;
  margin: 2vw 0 3vw 0;
  font-weight: 100;
  width: 85%;
}

.btn {
  border: 1px solid #fff;
  padding: 1vw 2vw;
  transition: all 0.3s;
  font-size: 1.5vw;
  margin-right: 1vw;
}
.btn:hover {
  background-color: #ff9564;
}
.btn i {
  font-weight: 600;
  margin-left: 0.4vw;
}
#courses-btn {
  background-color: #fff;
  color: #6f14f1;
  font-weight: 400;
}

#contact-btn {
  color: #fff;
}

#welcome {
  width: 100%;
  height: 95vh;
  padding: 1vw 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#welcome #wl-left {
  width: 30%;
  height: 100%;
  position: relative;
  padding: 3vw 2vw;
}
#welcome #wl-right {
  width: 70%;
  position: relative;
}
#mt-nandla {
  height: 85%;
}

#rocket-svg {
  height: 150px;
  position: absolute;
  left: -1%;
  top: 10%;
  z-index: 10;
}

#wl-right h3 {
  font-size: 2.2vw;
  margin-bottom: 1.7vw;
  color: #1b004f;
  margin-left: 85px;
}
#wl-right h3::before {
  content: "";
  width: 70px;
  height: 2px;
  background-color: #b1b1b1;
  position: absolute;
  top: 5%;
  left: 0;
}
#wl-right > p {
  font-size: 1.2vw;
  line-height: 2vw;
}

#states {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2vw;
}

#states .box {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #6f14f1;
  border-radius: 3px;
  padding: 1vw 2.8vw 1vw 0.5vw;
  margin: auto 1vw;
  transition: all linear 0.2s;
}
#states .box:hover {
  box-shadow: 4px 4px #6f14f1;
}
#state-icon {
  font-size: 3vw;
  color: #fde97b;
  background-color: #6f14f1;
  padding: 0.4vw 0.7vw;
  border-radius: 3px;
  margin-right: 1.2vw;
}

#states-details h4 {
  font-size: 1.5vw;
  color: #333;
}
#states-details p {
  font-size: 1vw;
  margin-top: 0.3vw;
  color: #5f5f5f;
  font-weight: 500;
}

#courses {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #6f14f1 30%, rgb(226, 41, 212)) 70%;
  padding: 2vw 3vw;
  color: #fff;
}
#courses h2 {
  text-align: center;
  font-size: 3.5vw;
}

#course-details {
  width: 100%;
  height: 90vh;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #ffffff1f;
  margin-top: 2.5vw;
  padding: 1.5vw 2vw;
}
#course-details-top {
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#course-details-top-img {
  height: 100%;
  width: 40%;
  padding: 1vw 3vw;
  border: 1px solid #fff;
  border-radius: 12px;
  text-align: center;
}
#course-details-top-img img {
  height: 100%;
  opacity: 0;
  scale: 0;
}
#course-details-top-desc {
  width: 60%;
  padding-left: 1vw;
}
#course-details-top-desc h3 {
  font-size: 2.4vw;

  margin-bottom: 1vw;
}
#course-details-top-desc p {
  font-size: 1.3vw;
}

#course-details-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5vw;
}
#course-details-mid .elem {
  width: 34%;
}
#course-details-mid .elem p {
  margin-bottom: 0.8vw;
  font-size: 1.3vw;
}
#course-details-mid .elem p i {
  font-size: 0.8vw;
  border: 1px solid #fff;
  padding: 0.25vw 0.3vw;
  border-radius: 50%;
  margin-right: 1vw;
}
#course-details-bottom {
  width: 90%;
  margin-top: 2vw;
}
#course-details-bottom h4 {
  font-size: 2.5vw;
}
#course-details-bottom-elems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#course-details-bottom-elems h5 {
  font-size: 3.5vw;
  font-weight: 400;
}
#courses > p {
  text-align: center;
  margin-top: 1vw;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

#trainers {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#trainers #main-trainer {
  width: 23%;
  height: 85%;
  background-image: linear-gradient(-45deg, rgb(226, 41, 212), #6f14f1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#main-trainer img {
  border-radius: 50%;
  background-color: #edf2f7;
  width: 80%;
  margin: 2vw;
}
#main-trainer h4 {
  font-size: 1.5vw;
  margin-bottom: 0.8vw;
}
#support-team {
  width: 77%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#support-members {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vw;
}
#support-members .elem {
  text-align: center;
}
#support-members .elem img {
  border-radius: 50%;
  width: 85%;
}
#support-members .elem h4 {
  font-size: 1.1vw;
  line-height: 2vw;
}
#support-members .elem p {
  font-size: 1.1vw;
}
#am-ashfaq img {
  background-color: #f59ffd;
}
#as-baloch img {
  background-color: #fdf59f;
}
#ab-banga img {
  background-color: #9cf8ff;
}
#fa-akhter img {
  background-color: #9cf8ff;
}
#um-shehzad img {
  background-color: #f8dfb0;
}
#kh-malik img {
  background-color: #4ee69c;
}

#support-team h2 {
  font-size: 2.5vw;
  color: #fff;
  text-align: center;
  margin: 1vw auto;
}

#count-down {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#timer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 2vw;
}
#timer .elem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75px;
  height: 85px;
  border: 1px solid #fff;

  border-radius: 5px;
  padding: 0 0.5vw;
}

#timer .elem h4 {
  font-size: 3.5vw;
}
#count-down > p {
  width: 35%;
  text-align: center;
  font-size: 1.5vw;
  line-height: 2.5vw;
  font-weight: 700;
}

#enroll-now {
  padding: 1vw 3vw;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #6f14f1;
  font-size: 2vw;
  margin: 2vw auto;
}

#additional-courses {
  width: 100%;
  min-height: 100vh;

  position: relative;
  padding: 4vw 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#additional-courses .elem {
  width: 45%;
  min-height: 100vh;
  border: 1.5px solid #dfdddd;
  padding: 2vw 1vw 0.5vw 1vw;
  position: relative;
}
#additional-courses .elem h4 {
  font-size: 2.5vw;
  line-height: 1.6vw;
  color: #1b004f;
}
#additional-courses .elem > p {
  font-size: 1.3vw;
  line-height: 2.2vw;
  padding-top: 1vw;
  color: #5f5f5f;
}
#additional-courses .elem p::before {
  content: "";
  width: 100px;
  background-color: #6f14f1;
  height: 2px;
  position: absolute;
  top: 15%;
  left: 3%;
}
#additional-courses .elem h4 span {
  font-size: 1.4vw;
}
#additional-courses .elem svg {
  height: 50px;
  margin-right: 0.7vw;
  color: #6f14f1;
}
.elem-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#course-trainer {
  margin: 1.7vw auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#course-trainer img {
  height: 50px;
  border-radius: 50%;
}
#course-trainer #trainer-details {
  margin-left: 1vw;
}
#course-trainer #trainer-details h4 {
  font-size: 1.5vw;
  color: #2d3748;
}
#course-trainer #trainer-details p {
  font-size: 1.1vw;
  color: #5f5f5f;
  margin-top: 0.2vw;
}

#enroll-btn {
  padding: 0.9vw 2.5vw;
  background-color: #6f14f1;
  color: #fff;
  border-radius: 3px;
  margin: 2vw 0vw 1vw 20vw;
  font-size: 1.2vw;
  box-shadow: 0px 3px 15px #6f14f1;
  transition: all 0.5s;
}
#enroll-btn i {
  margin-left: 1vw;
}
#enroll-btn:hover {
  background-color: transparent;
  border: 1px solid #6f14f1;
  color: #6f14f1;
}

#ceo-message {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(to right, #7828f1, #b93ff1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#ceo-img {
  width: 35%;
  height: 100%;
}

#ceo-img img {
  height: 100%;
  scale: 1.1;
  width: 100%;
}
#ceo-message #message {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  position: relative;
}
#ceo-message #message h2 {
  font-size: 1.6vw;
  margin-left: 6vw;
  color: #fde97b;
  line-height: 3vw;
}
#message h2::before {
  content: "";
  width: 70px;
  background-color: #fde97b;
  height: 2px;
  position: absolute;
  top: 22.5%;
  left: 0%;
}
#message p {
  font-size: 1.5vw;
  line-height: 2.2vw;
  width: 85%;
}
#message #strong {
  width: 80%;
  text-align: right;
  font-size: 2.5vw;

  margin-top: 1.5vw;
}

#incubators {
  width: 100%;
  min-height: 100vh;
  padding: 2vw 4vw;
  color: #fff;
}
#incubators > h2 {
  font-size: 4.5vw;
  line-height: 7vw;
  color: #1b004f;
}
#incubators p {
  font-size: 1.5vw;
  line-height: 2.3vw;
  color: #2d3748;
  margin: 1vw auto;
}

#incubators #row {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: -5vw;
}
#row .elem {
  width: 60%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
#row .elem > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
}
#incubators .elem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6f14f1;
  z-index: -1;
}

.elem-content {
  padding: 2vw 1vw;
  width: 100%;
  height: 100%;
}
.elem-content h2 {
  font-size: 2.3vw;
  margin-bottom: 1vw;
}
.elem-content span {
  font-size: 1.3vw;
  line-height: 2vw;
}

#inc-officials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.3vw auto;
}
#inc-officials #inc-img {
  width: 65px;
  height: 65px;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.2vw;
}
#inc-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
#inc-dets {
  margin-left: 1vw;
}

#inc-dets p {
  font-size: 1.1vw;
  line-height: 0.1vw;
  color: #fff;
}
#row #fsd {
  width: 40%;
}
#row #fsd .elem-content span {
  line-height: 2vw;
}
#row #gjr {
  width: 40%;
}
#row #isb {
  width: 60%;
}

#success-stories {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 4vw;
}
#success-stories #title h2 {
  font-size: 7vw;
  line-height: 6vw;
  color: #1b004f;
}
.stories {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  color: #fff;
  padding-top: 5vw;
}
.story {
  width: 48%;
  height: 45%;
  padding: 0.8vw;
  background-color: #6f14f1;
  border-radius: 6px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.story img {
  height: 100%;
  width: 30%;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}
.story-content {
  padding-top: 0.6vw;
  margin-left: 1vw;
}
.story-content h4 {
  font-size: 1.3vw;
  line-height: 1.8vw;
  margin-bottom: 1vw;
}
.story-content p {
  font-size: 1.1vw;
  margin-bottom: 0.5vw;
}
.story-content span {
  font-weight: 700;
  text-transform: uppercase;
}

#iskills-stars {
  width: 100%;
  height: 100vh;
  background-image: url("https://iblok.io/iSkillsnew/wp-content/uploads/2023/11/liquid-cheese-1.svg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 2vw 4vw;
  text-align: center;
}

#iskills-stars h2 {
  font-size: 2.5vw;
  margin-bottom: 2vw;
}
#iskills-stars #strong {
  border: 1px solid hsl(0, 93%, 74%);
  border-radius: 5px;
  padding: 1vw;
  font-size: 1.5vw;
  text-align: left;
  line-height: 2.5vw;
  background-color: #ffffff17;
  padding: 2vw 1vw;
  margin-bottom: 1vw;
}
#iskills-stars > p {
  font-size: 1.45vw;
  line-height: 2.5vw;
  margin-bottom: 1vw;
}
#iskills-stars h3 {
  font-size: 2.5vw;
  text-align: left;
  margin: 2vw auto;
}
#fml-stories {
  width: 70%;
  height: 65%;
  padding-top: 1vw;
  text-align: left;
}
#fml-stories .story {
  background-color: transparent;
  border: 1px solid #fff;
}

#faqs {
  width: 100%;
  height: 100vh;
  background: linear-gradient(35deg, #7625f1 50%, #c848f1) 50%;
  padding: 4vw;
  padding-top: 6vw;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#faqs .title {
  text-align: center;
  font-size: 2.5vw;
}

.faq {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 1rem;

  cursor: pointer;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 0 1.2vw;
  padding-bottom: 1vw;
}

.question h3 {
  font-size: 2.5vw;
  font-weight: 400;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.3;
  font-size: 1.1rem;
  text-align: left;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all linear 0.5s;
  padding: 0 1.2vw;
}

.faq.active .answer {
  max-height: 300px;
}
.faq i {
  transition: all 0.5s;
}
.faq.active i {
  transform: rotate(180deg);
}

#footer {
  width: 100%;
  height: 30vh;
  background-color: #011a35;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3vw 4vw;
  color: #fff;
}

#footer img {
  height: 40%;
}
#footer h2 {
  font-size: 1.2vw;
  margin-bottom: 1.5vw;
}

#footer #ft-links a {
  display: block;
  margin: 0.5vw auto;
  color: #fff;
}
#ft-social i {
  margin-right: 0.5vw;
  border-radius: 3px;
  font-size: 1.2vw;
  padding: 0.5vw;
  background-color: #6f14f1;
}
#copyright {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3748;
  color: #fff;
}
#arrow {
  display: none;
  padding-top: 3vw;
}
#arrow img {
  height: 10vh;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: 100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #111;
    height: 100vh;
    width: 100%;
    text-align: right;
    transform: all linear 0.5s;
    padding-top: 8vh;
    padding-left: 5vw;
    z-index: 999;
  }
  .nav-menu li a {
    font-weight: 400;
    font-size: 2.5vw;
  }
  .nav-item {
    width: 90%;
    text-align: left;
    margin: 14px 0;
    border-bottom: 1px solid #555;
    padding-bottom: 1.5vh;
  }
  .nav-menu.active {
    left: 0;
  }
  #pre-register-btn {
    position: absolute;
    bottom: 3%;
    left: 30%;
    background-color: transparent;
    padding: 3vw 4vw;
  }

  #hero {
    max-width: 100vw;
    max-height: 62vh;
  }

  video {
    max-width: 100%;
    max-height: 62vh;
    object-fit: cover;
    position: absolute;
  }

  #hero-content {
    width: 100%;
    height: 100%;
    background-color: #7014f163;
    position: relative;
    padding: 0 3vw;
  }
  #hero-main {
    width: 100%;
  }
  #logo img {
    height: 35px;
  }

  #hero-main h1 {
    text-align: left;
    font-size: 9.5vw;
    font-weight: 700;
    line-height: 18vw;
    color: #fff;
    min-width: 100%;
  }

  #hero-main h1 span {
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: left;
    display: block;
    width: 87%;
    font-size: 8.2vw;
    line-height: 13vw;
    padding: 0 2vw;
    margin-bottom: 1vw;
  }

  #hero-main h1 #pk {
    background-color: #fde97b;
    color: #6f14f1;
    border: none;
    width: 45%;

    padding: 0.2vw 2vw;
  }
  #hero-main p {
    display: none;
  }

  .btn {
    display: none;
  }
  #arrow {
    text-align: center;
    display: block;
  }
  #welcome {
    width: 100%;
    height: 100vh;
  }
  #welcome #wl-left {
    display: none;
  }
  #welcome #wl-right {
    width: 100%;
    position: relative;
  }

  #wl-right h3 {
    font-size: 7.5vw;

    color: #1b004f;
  }
  #wl-right h3::before {
    display: none;
  }
  #wl-right > p {
    font-size: 3vw;
    line-height: 4.5vw;
  }

  #states {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2vw;
  }

  #states .box {
    min-width: 100%;
    margin-bottom: 4vw;
    justify-content: flex-start;
  }
  #states .box:hover {
    box-shadow: 4px 4px #6f14f1;
  }
  #state-icon {
    font-size: 14vw;
    color: #fde97b;
    background-color: #6f14f1;
    padding: 1vw 3vw;
    border-radius: 3px;
    margin-right: 1.2vw;
  }

  #states-details h4 {
    font-size: 5vw;
    color: #333;
  }
  #states-details p {
    font-size: 3.5vw;
    margin-top: 0.3vw;
    color: #5f5f5f;
    font-weight: 400;
  }

  #courses {
    min-height: 500vh;
    padding: 2vw 4vw;
  }
  #courses h2 {
    font-size: 6.5vw;
    padding: 3vw 0;
  }

  #course-details {
    height: 250vh;
    padding: 4vw;
    overflow: hidden;
  }
  #course-details-top {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #course-details-top-img {
    height: 100%;
    width: 100%;
    margin-bottom: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
  }
  #course-details-top-img img {
    height: 90%;
    opacity: 0;
    scale: 0;
  }
  #course-details-top-desc {
    width: 100%;
    padding-left: 1vw;
  }
  #course-details-top-desc h3 {
    font-size: 4.9vw;

    margin-bottom: 1vw;
  }
  #course-details-top-desc p {
    font-size: 2.9vw;
  }

  #course-details-mid {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 40vw;
  }

  #course-details-mid .elem p {
    margin-bottom: 2vw;
    font-size: 2.6vw;
  }
  #course-details-mid .elem p i {
    font-size: 2.2vw;
    border: 1px solid #fff;
  }

  #course-details-bottom h4 {
    font-size: 4.5vw;
    margin-bottom: 2vw;
  }
  #course-details-bottom-elems {
    align-items: flex-start;
    flex-direction: column;
    gap: 4vw;
  }
  #course-details-bottom-elems h5 {
    font-size: 7.5vw;
    font-weight: 500;
  }
  #courses > p {
    margin-top: 3vw;
    font-size: 3vw;
    line-height: 4.5vw;
  }

  #trainers {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #trainers #main-trainer {
    width: 100%;
    height: 85%;
    margin-top: 8vw;
  }
  #main-trainer img {
    height: 75%;
    width: 55%;
    margin: 2vw;
  }
  #main-trainer h4 {
    font-size: 3vw;
    margin-bottom: 1vw;
  }
  #support-team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  #support-members {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2vw;
  }
  #support-members .elem {
    width: 33%;
    text-align: center;
  }
  #support-members .elem img {
    border-radius: 50%;
    width: 85%;
  }
  #support-members .elem h4 {
    font-size: 1.1vw;
    line-height: 2vw;
  }
  #support-members .elem p {
    font-size: 1.1vw;
  }
  #am-ashfaq img {
    background-color: #f59ffd;
  }
  #as-baloch img {
    background-color: #fdf59f;
  }
  #ab-banga img {
    background-color: #9cf8ff;
  }
  #fa-akhter img {
    background-color: #9cf8ff;
  }
  #um-shehzad img {
    background-color: #f8dfb0;
  }
  #kh-malik img {
    background-color: #4ee69c;
  }

  #support-team h2 {
    font-size: 2.5vw;
    color: #fff;
    text-align: center;
    margin: 1vw auto;
  }
}
